<main class="flex items-center justify-center w-full h-full p-7">
    <div
        class="min-w-64 w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Login
            </h1>
            <form [formGroup]="form" (ngSubmit)="login()" class="space-y-4 md:space-y-6space-y-4 md:space-y-6">
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email@gmail.com" [formControl]="form.controls.email"
                        (blur)="updateErrorMessage(errorEmailMessage)" required />
                    @if (form.controls.email.invalid) {
                    <mat-error>{{errorEmailMessage()}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="********" (blur)="updateErrorMessage(errorPwdMessage)"
                        [type]="hidePwd() ? 'password' : 'text'" [formControl]="form.controls.password" required />
                    <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePwd()">
                        <mat-icon>{{hidePwd() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (form.controls.password.invalid) {
                    <mat-error>{{errorPwdMessage()}}</mat-error>
                    }
                </mat-form-field>

                <button mat-fab extended type="submit" style="width: 100% !important;" [disabled]="loading()">
                    @if (loading()) {
                    <mat-spinner diameter="30"></mat-spinner>
                    }@else{
                    Fazer login
                    }
                </button>
                <div>
                </div>
            </form>
        </div>
    </div>
</main>