@use "tailwindcss";

html, body {
	min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(45deg, #672d1e, #3b0837);
}

$icon-color: #ce3762;